/* navbar */

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0; 
    align-items: center;
}

.nav-bg{
    background-color: #313E51;
}


/* start bootstrap */

.start-bootstrap{
    background-color: #4BB99E;
    color: white;
}

.start-bootstrap img{
    width: 15%;
}